<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form method="POST" action="/api/login">
      <h1>로그인</h1>
      <input type="text" name="id" placeholder="ID" />
      <input type="password" name="pw" placeholder="Password" />
      <button type="submit">Login</button>
    </form>
    <a href="/signup">회원가입</a>
  </body>
</html>
