<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form method="POST" action="/api/signup">
      <h1><%= title %></h1>
      <input type="text" name="id" placeholder="ID" />
      <input type="password" name="pw" placeholder="Password" />
      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>
