<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> success</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form method="POST" action="/api/signup">
      <h1><%= title %> 완료</h1>
      <a href="/">홈으로</a>
    </form>
  </body>
</html>
